name: Deploy (Fly)

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - main
    # tags:
    #   - sun/*

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy:
    name: Deploy
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - uses: actions/setup-node@v2
      #   with:
      #     node-version: '16'

      # In this step, this action saves a list of existing images,
      # the cache is created without them in the post run.
      # It also restores the cache if it exists.
      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true

      - uses: superfly/flyctl-actions@1.1
        with:
          # args: 'deploy --strategy bluegreen --config="./fly.sun.toml" --dockerfile="Dockerfile.sun"'
          args: 'deploy --strategy rolling --config="./fly.toml"'
          # --remote-only
